<footer class="footer position-relative bg-theme2" page-name="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 footerLinksOuter">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="about footer-item">
                <div class="logo">
                  <a href="index.html" class="d-block"><img class="w-100" src="assets/img/logo/logo-white.png" alt="Onix Digital TemplateMo"></a>
                </div>
                <a href="mailTo:info@imgmlm2.com" class="link text-white text-opacity-75 text-decoration-none">info@imgmlm2.com</a>
                <ul class="footerSocial p-0 mb-0 list-unstyled d-flex gap-2">
                  <li><a class="" href="javascript:;"><img  class="w-50" src="assets/img/icons/facebookWhite.svg" alt=""></a></li>
                  <li><a  class="" href="javascript:;"><img  class="w-50" src="assets/img/icons/twitterWhite.svg" alt=""></a></li>
                  <li><a  class="" href="javascript:;"><img  class="w-50" src="assets/img/icons/instagramWhite.svg" alt=""></a></li>
                  <li><a  class="" href="javascript:;"><img  class="w-50" src="assets/img/icons/youtubeWhite.svg" alt=""></a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4 mt-sm-0">
              <div class="services footer-item">
                <div class="linksTitle text-white">Links</div>
                <ul class="links p-0 m-0 list-unstyled d-flex flex-column gap-2">
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1 active" href="index.html">Home</a></li>
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="news.html">News</a></li>
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="gallery.html">Gallery</a></li>
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="downloads.html">Downloads</a></li>
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="contactUs.html">Contact us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4 mt-lg-0">
              <div class="community footer-item">
                <div class="linksTitle text-white">Other Links</div>
                <ul class="links p-0 m-0 list-unstyled d-flex flex-column gap-2">
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="javascript:;">Compliance-Document</a></li>
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="branches.html">Branches</a></li>
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="javascript:;">Registration Proces</a></li>
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="javascript:;">Shipping Policy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4 mt-lg-0">
              <div class="community footer-item">
                <div class="linksTitle text-white">Other Links</div>
                <ul class="links p-0 m-0 list-unstyled d-flex flex-column gap-2">
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="javascript:;">Privacy & Security Policy</a></li>
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="javascript:;">Tream & Condition</a></li>
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="javascript:;">Delivery</a></li>
                  <li><a class="text-decoration-none footerLink align-items-center d-flex gap-1" href="javascript:;">Cancellation/Refund Process</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright">
            <p class="pb-0">Copyright © 2021 Img MLM 2, Ltd. All Rights Reserved. 
            <br>
            Designed by <a rel="nofollow" href="javascript:;"><b>IMG Global Infotech</b></a></p>
          </div>
        </div>
      </div>
    </div>
</footer>