
.btnStyle1 {
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 12px;
    width: fit-content;
    &:disabled, &.disabled {
        & .afterText {
            display: block !important;
        }
        & .beforeText {
            display: none !important;
        }
    }
    & .icon {
        width: 16px;
        height: 16px;
    }
}
.backToTopbtn {
    width: 36px;
    height: 36px;
    z-index: 999;
    position: fixed;
    top: -50px;
    right: 25px;
    padding: 10px !important;
    opacity: 0;
    transition: ease-in-out .4s;
    animation-name: newani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    &.clickToTop {
        top: 90%;
        opacity: 1;
    }
    & img {
        transform: rotate(-90deg);
        filter: invert(1);
        transition: ease-in-out .5s;
    }
    @keyframes newani {
        50%{
            transform: translateY(-15px);
        }
    }
    &:hover {
        & img {
            margin-top: -5px;
        }
    }
}
@media (max-width: 991px){
    .btnStyle1 {
        height: 34px;
    }
}
@media (max-width: 575px){
    .btnStyle1 {
        &.exportBtn {
            &:disabled, &.disabled {
                & .afterTextOnly {
                    display: none !important;
                }
                & .beforeText {
                    display: none !important;
                }
            }
        }
    }
    .backToTopbtn {
        width: 32px;
        height: 32px;
    }
}

