[page-name=footer] {
    &.footer {
        & .footerLinksOuter {
            padding: 80px 12px;
            & .footer-item{
                & .linksTitle {
                    font-size: 18px;
                    font-weight: 700;
                    color: $gray-900;
                    margin-bottom: 30px;
                }
                & .links {
                    & li {
                        & .footerLink {
                            font-size: 14px;
                            color: $gray-400;
                            transition: all .3s;-left: 4px;
                            &:before {
                                content: '';
                                width: 4px;
                                height: 4px;
                                border-radius: 50px;
                                background-color: transparent;
                                display: block;
                                transition: ease-in-out .3s;
                            }
                            &:hover, &.active, &:active {
                                color: $white;
                                &:before {
                                    background-color: $white;
                                }
                            }
                        }
                    }
                }
            }
            & .about {
                & .logo {
                    & a {
                        width: 120px;
                        margin-bottom: 30px;
                    }
                }
                & .link {
                    font-weight: 300;
                    font-size: 14px;
                }
                & ul {
                    margin-top: 20px;
                    & li {
                        margin: 0;
                        & a {
                            width: 32px;
                            height: 32px;
                            background-color: $theme2;
                            color: $white !important;
                            border-radius: 50%;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            line-height: 32px;
                            font-size: 15px;
                            transition: ease-in-out .3s;
                            &:hover {
                                background-color: $theme1;
                                margin-top: -3px;
                                box-shadow: 0px 4px 7px 2px rgb(90 90 90 / 30%);
                            }
                        }
                    }
                }
            }
            & .services {
            }
        }
        & .copyright {
            & p {
                text-align: center;
                border-top: 1px solid $gray-300;
                color: $gray-300;
                padding: 20px 0px;
                font-weight: 300;
                font-size: 12px;
                & a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin footer-mixin-min-sm() {
}

// Medium devices (tablets, 768px and up)
@mixin footer-mixin-min-md() {
}

// Large devices (desktops, 992px and up)
@mixin footer-mixin-min-lg() {
}

// X-Large devices (large desktops, 1200px and up)
@mixin footer-mixin-min-xl() {
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin footer-mixin-min-xxl() {
}

// X-Small devices (portrait phones, less than 576px)
@mixin footer-mixin-max-xs() {
    [page-name=footer] {
        &.footer {
            & .footer-dec {
                display: none;
                & img {
                }
            }
            & .footerLinksOuter {
                & .footer-item{
                    & .linksTitle {
                        font-size: 14px;
                    }
                    & p {
                    }
                    & ul {
                        & li {
                            & a {
                                &:hover {
                                }
                            }
                        }
                    }
                    & form {
                        & input {
                        }
                        & button {
                        }
                    }
                }
                & .about {
                    & .logo {
                        & a {
                        }
                    }
                    & a {
                    }
                    & ul {
                        & li {
                            & a {
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .services {
                }
            }
            & .copyright {
                & p {
                    & a {
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@mixin footer-mixin-max-sm() {
    [page-name=footer] {
        &.footer {
            & .footer-dec {
                & img {
                }
            }
            & .footerLinksOuter {
                padding: 50px 12px;
                & .footer-item{
                    & .linksTitle {
                        font-size: 16px;
                    }
                    & p {
                    }
                    & .links  {
                        & li {
                            & .footerLink {
                                font-size: 12px;
                                &:hover {
                                }
                            }
                        }
                    }
                    & form {
                        & input {
                        }
                        & button {
                        }
                    }
                }
                & .about {
                    & .logo {
                        & a {
                        }
                    }
                    & a {
                    }
                    & ul {
                        & li {
                            & a {
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .services {
                }
            }
            & .copyright {
                & p {
                    & a {
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@mixin footer-mixin-max-md() {
    [page-name=footer] {
        &.footer {
            & .footer-dec {
                height: 120px;
                & img {
                    height: 100%;
                }
            }
            & .footerLinksOuter {
                padding: 60px 12px;
                & .footer-item{
                    & .linksTitle {
                        margin-bottom: 12px;
                        font-size: 16px;
                    }
                    & p {
                    }
                    & ul {
                        & li {
                            & a {
                                font-size: 12px;
                                &:hover {
                                }
                            }
                        }
                    }
                    & form {
                        & input {
                        }
                        & button {
                        }
                    }
                }
                & .about {
                    & .logo {
                        & a {
                        }
                    }
                    & a {
                    }
                    & ul {
                        & li {
                            & a {
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .services {
                }
            }
            & .copyright {
                & p {
                    & a {
                    }
                }
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@mixin footer-mixin-max-lg() {
}

// X-Large devices (large desktops, less than 1400px)
@mixin footer-mixin-max-xl() {
}